@import "../variables";

.sup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  padding-bottom: 5px;
  @include text($fzsm, 18px);
  @extend %bold;
  li {
    cursor: pointer;
  }
  a {
    margin-left: 5px;
  }
  li {
    transition: all 0.2s;
  }
  li:hover {
    color: $blue;
    transition: all 0.2s;
  }
  .sup-header__left {
    display: flex;
    li {
      margin-right: 35px;
    }

    li:nth-child(2) a {
      margin-left: 0px;
    }
  }
  .sup-header__right {
    display: flex;
    li {
      margin-left: 35px;
    }

    li:last-child a {
      margin-left: 0px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  background: rgb(33, 87, 138);
  background: white;
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }
  &__search {
    height: 50px;
    width: 35%;
    border-radius: 30px;
  }
  &__cart {
    display: flex;
  }
  &__cart-wrap {
    border: $blue 2px solid;
    border-radius: 50%;
    @include size(50px, 50px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: $blue;
    cursor: pointer;
    transition: all 0.2s;
  }
  &__cart-counter {
    position: absolute;
    right: -8px;
    top: -8px;
    @include size(23px, 23px);
    background: #f1f1f1;
    border-radius: 50%;
    color: $blue;
    font-size: 15px;
    @extend %bold;
    border: $blue 1px solid;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1px;
  }
  &__cart-wrap:hover {
    color: $black;
    border: $black 2px solid;
    transition: all 0.2s;
  }

  &__cart-wrap:hover &__cart-counter {
    color: $black;
    border: $black 1px solid;
    transition: all 0.2s;
  }

  &__info {
    color: $blue;
    font-size: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    font-family: 'Gilroy-Medium';
    .phone {
      margin-left: 10px;
    }
  }

  &__info:hover {
    color: $black;
    transition: all 0.2s;
  }
}

.search-form__wrap {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: $blue 2px solid;
  border-radius: 30px;
  transition: all 0.2s;
  .svg-search {
    color: $blue;
    font-size: 18px;
    transition: all 0.2s;
  }
  .seacrh-form__input {
    outline: none;
    border: none;
    background: transparent;
    font-family: inherit;
    @include text(15px, 18px);
    width: 100%;
    padding-left: 10px;
    color: #696969;
  }
  .seacrh-submit {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}

.search-form__wrap:hover {
  border: $black 2px solid;
  transition: all 0.2s;
  .svg-search {
    color: $black;
    transition: all 0.2s;
  }
}
