@import "nullstyle";
@import "./variables";
@import "fonts/Gilroy/gilroy";

@import "components/all";

body {
  font-family: "Gilroy-Regular";
  color: $black;
}

.wrapper {
  width: calc(100vw - 100px);
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.scrolltotop div button {
  background: $blue;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  color: #fff;
  -webkit-box-shadow: 0px 1px 8px 3px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 1px 8px 3px rgba(34, 60, 80, 0.2);
box-shadow: 0px 1px 8px 3px rgba(34, 60, 80, 0.2);
  &::after {
    content: "\276F";
    top: 3px;
    right: 19px;
    position: absolute;
    transform:rotate(-90deg);
    font-size: 32px;
  }
  &:hover {
background: #fff;
color: $blue;
    transition: all 0.3s;
  }
}
